PORT=3000
LOG_LEVEL=info

MONGODB_URI=mongodb+srv://xxxxxxxxxxx,user:xxxxxxxxxxxxxxx.cikteve.mongodb.net/contacts_db?retryWrites=true&w=majority

JWT_ACCESS_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxx
JWT_REFRESH_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxx

# JWT for reset links
JWT_SECRET=VOQjLdrpG1TWCHhDzv3o

# Brevo SMTP
SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=your_brevo_smtp_login
SMTP_PASSWORD=your_brevo_smtp_password
SMTP_FROM=your-verified@brevo.com

# Frontend domain (no trailing slash)
APP_DOMAIN=http://localhost:3000

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
