@"
# deps
node_modules/

# env
.env
.env.local
.env.*.local
!.env.example

# logs
logs/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# builds/cache (на майбутнє)
dist/
build/
coverage/
.cache/
.tmp/

# os/editor
.DS_Store
Thumbs.db
.vscode/

# зайвий навчальний файл
contacts.json
"@ | Set-Content -Encoding UTF8 .gitignore